
body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background: rgb(251,110,63);
background: radial-gradient(circle, rgba(251,110,63,1) 68%, rgba(246,12,5,1) 100%);
}
#allPage{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sliderImages{
    width: 100%;
    height: 45vh;
}
#btnAndPosters{
    width: 85%;
}
#the_form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
#page {
    text-align: center;
}
#timing{
    height: 25%;
    color: #514f4f;
}
#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    text-align: center;
    margin-bottom: 20px; 
}
.card{
    background: rgb(251,110,63);
    background: radial-gradient(circle, rgba(251,110,63,1) 32%, rgba(246,12,5,1) 100%);
    border-radius: 25px;
    box-shadow: 10px 10px 5px #514f4f;
}

#imgStyle {
    height: fit-content;
    image-rendering: crisp-edges;
    max-width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 25px;
}

.imgOne{
    position: relative;
    image-rendering: crisp-edges;
    filter: contrast(125%);
    left: 5%;
    width: 90%;
    height: 45vh;
}
.carousel-caption{
text-align: start;
padding-bottom:0;
bottom: 10%;
left: 2%;
}
.carousel-control-next, .carousel-control-prev {
    align-items: flex-end;
}
button:hover {
    background: none;
}
.carousel {
    width: 100%;
    height: 45vh;
    position: relative;
}
.w-100 {
    width: 100%;
    height: 100%;
    object-fit:fill;
    image-rendering: crisp-edges;
    object-position: bottom;
}
.navbar {
    position: sticky;
    border-radius: 10px;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* Adjusted */
    padding: 0.5rem 1rem;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
    width: 5%;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em blue;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}

.nav-item {
    width: max-content;
    position: relative;
    cursor: pointer;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #f99158;
    transition: 0.5s;
    transition-timing-function: ease;
    transform: scaleX(0);
}

.nav-item:hover::after {
    transform: scaleX(1);
}
.carousel-caption > h5{
    color: #ffffff;
    font-size: 56px;
}
.carousel-caption > p{
    color: #b4b4b4;
    font-size: 14px;
}
#likeBtn{
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
}
@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

#likeBtn:active{
    animation: myAnim 0.1s ease 0s 1 normal forwards;
}
#fiveButtons{
    display: flex;
    gap: 10px;

}

@media (max-width: 800px) {


    body {
        background-size: auto;
    }
    #container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        text-align: center;
        margin-bottom: 20px; 
    }

    #allPage {
        padding: 10px; 
    }

    .navbar {
        position: sticky;
        border-radius: 10px;
        width: 90%;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between; 
        padding: 0.5rem 1rem;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.8);
        flex-wrap: nowrap;
    }

    .navbar-brand {
        width: 10%;
    }

    .nav-link {
        padding: 0.5rem;
    }


}