
body {
  margin: 0;
  color: #ccc;
  background-image:linear-gradient(rgba(15, 10, 44, 0.9) ,rgba(8, 0, 77, 0.868) ) ,url(/assenst/imgs/back.jpg);

}

#allPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#titlePage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 80%;
  line-break: strict;
}

#titlePage > button {
  border-radius: 10px;
  height: 4rem;
  width: 10rem;
  color: #ff601c;
  border: 2px solid #3c3c3c;
  font-weight: 600;
  transition: all 0.5s ease;
  background: hsla(0, 0%, 8%, 0.87);
}

.removeBtn{
  border-radius: 10px;
    height: 2rem;
    width: 5rem;
    color: #fff;
    background: #ff601c;
    border: none;
    font-weight: 600;
    transition: all 0.5s ease 0s;
    box-shadow: 6px -1px 5px #050404;

}
#titlePage > button:hover {
  outline: 3px solid #ff601c;
  height: 4.5rem;
  width: 10.5rem;
}

#titlePage > p {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}

#userWatchlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background-color: #514f4f;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 1rem;
}

.card h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.card p {
  font-size: 1rem;
  color: #d0d0d0;
  margin: 0;
}

.anotherAnim:hover {
  animation: myAnim 2s ease 1 normal forwards;
}

.navbar {
  position: sticky;
  border-radius: 10px;
  width: 80%;
  top: 0;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  width: 5%;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  transition: color 0.3s ease;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em blue;
  color: #f99158;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

.nav-item {
  width: max-content;
  position: relative;
  cursor: pointer;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 100%;
  left: 0;
  background-color: #f99158;
  transition: 0.5s;
  transition-timing-function: ease;
  transform: scaleX(0);
}

.nav-item:hover::after {
  transform: scaleX(1);
}

@keyframes myAnim {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.1);
  }

  100% {
      transform: scale(1);
  }
}
@media (max-width: 600px) {
#titlePage {
    flex-direction: column;
    align-items: flex-start;
}

#titlePage > button {
    width: 100%;
    margin-top: 10px;
}

#titlePage > p {
    font-size: 1.5rem;
}

#userWatchlist {
    grid-template-columns: repeat(1, 1fr);
}

.navbar {
  position: sticky;
  border-radius: 10px;
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; 
  padding: 0.5rem 1rem;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  flex-wrap: nowrap;
}

.navbar-brand {
  width: 10%;
}

.nav-link {
  padding: 0.5rem;
}
}